

        <div fxLayout="column" class="main-container">
        <!-- define the material card -->
        <div fxLayout="row" class="tasks-container"  style="padding-top: 3rem;">
        
        <mat-card fxFlex>
            <!--adam.jpg, amy.png and catdog.png all taken or owned by Adam Donner-->
              
                <mat-card-content>
                        <section class="mat-typography" style="text-align: center;">
                        <h1>404 Page Not Found</h1>
                        <h1>One of our developers my be punished for this unacceptable failure!</h1>
                        <br>
                        <h2>Pick who to fire!</h2>
                        <br>
                        <h3>Just kidding, clicking on any image takes you back home.</h3>
                        </section>
                        <div fxLayout="row" class="image-cards">
                        <mat-card>
                            <a routerLink='/'>
                                <img
                                src="../../../assets/img/adam.jpg"
                                alt="Adam Donner"
                                />
                            </a>
                                <h3>CEO</h3>
                        </mat-card>
                        
                        <mat-card>
                            <a routerLink='/'>
                                <img
                                src="../../../assets/img/amy.png"
                                alt="Amy Donner with computer"
                                />
                            </a>
                                <h3>Chief Engineer</h3>
                        </mat-card>
                        <mat-card>
                            <a routerLink='/'>
                                <img
                                src="../../../assets/img/catdog.png"
                                alt="Amy Donner with computer"
                                />
                            </a>
                                <h3>Chief Happiness Officers</h3>
                        </mat-card>
                        </div>
                </mat-card-content>
              </mat-card>
        </div>
        </div>
        